<div>
    <h2 data-translate="etatcivilApp.personne.home.title">Personnes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="personne.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="etatcivilApp.personne.home.createLabel">
                        Create new Personne
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'etatcivilApp.personne.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nom"><span data-translate="etatcivilApp.personne.nom">Nom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prenom"><span data-translate="etatcivilApp.personne.prenom">Prenom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fonction"><span data-translate="etatcivilApp.personne.fonction">Fonction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genre"><span data-translate="etatcivilApp.personne.genre">Genre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateNaissance"><span data-translate="etatcivilApp.personne.dateNaissance">Date Naissance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pere.prenom"><span data-translate="etatcivilApp.personne.pere">Pere</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mere.prenom"><span data-translate="etatcivilApp.personne.mere">Mere</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adresse.rue"><span data-translate="etatcivilApp.personne.adresse">Adresse</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paysNaissance.nom"><span data-translate="etatcivilApp.personne.paysNaissance">Pays Naissance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="villeNaissance.nom"><span data-translate="etatcivilApp.personne.villeNaissance">Ville Naissance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="personne in vm.personnes track by personne.id">
                    <td><a ui-sref="personne-detail({id:personne.id})">{{personne.id}}</a></td>
                    <td>{{personne.nom}}</td>
                    <td>{{personne.prenom}}</td>
                    <td>{{personne.fonction}}</td>
                    <td data-translate="{{'etatcivilApp.Genre.' + personne.genre}}">{{personne.genre}}</td>
                    <td>{{personne.dateNaissance | date:'medium'}}</td>
                    <td>
                        <a ui-sref="personne-detail({id:personne.pere.id})">{{personne.pere.prenom}}</a>
                    </td>
                    <td>
                        <a ui-sref="personne-detail({id:personne.mere.id})">{{personne.mere.prenom}}</a>
                    </td>
                    <td>
                        <a ui-sref="adresse-detail({id:personne.adresse.id})">{{personne.adresse.rue}}</a>
                    </td>
                    <td>
                        <a ui-sref="pays-detail({id:personne.paysNaissance.id})">{{personne.paysNaissance.nom}}</a>
                    </td>
                    <td>
                        <a ui-sref="ville-detail({id:personne.villeNaissance.id})">{{personne.villeNaissance.nom}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="personne-detail({id:personne.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personne.edit({id:personne.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personne.delete({id:personne.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
