
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNaissanceLabel" data-translate="etatcivilApp.naissance.home.createOrEditLabel">Create or edit a Naissance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.naissance.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.naissance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="etatcivilApp.naissance.numeroRegistre" for="field_numeroRegistre">Numero Registre</label>
            <input type="text" class="form-control" name="numeroRegistre" id="field_numeroRegistre"
                    ng-model="vm.naissance.numeroRegistre"
                    required/>
            <div ng-show="editForm.numeroRegistre.$invalid">
                <p class="help-block"
                    ng-show="editForm.numeroRegistre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="etatcivilApp.naissance.mentionMarginale" for="field_mentionMarginale">Mention Marginale</label>
                <textarea class="form-control" name="mentionMarginale" id="field_mentionMarginale"
                    ng-model="vm.naissance.mentionMarginale" required ng-minlength="5" ng-maxlength="1000"></textarea>
            <div ng-show="editForm.mentionMarginale.$invalid">
                <p class="help-block"
                    ng-show="editForm.mentionMarginale.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.mentionMarginale.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.mentionMarginale.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1000">
                    This field cannot be longer than 1000 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="etatcivilApp.naissance.dateDeclaration" for="field_dateDeclaration">Date Declaration</label>
                <div class="input-group">
                    <input id="field_dateDeclaration" type="text" class="form-control" name="dateDeclaration" datetime-picker="{{dateformat}}" ng-model="vm.naissance.dateDeclaration" is-open="vm.datePickerOpenStatus.dateDeclaration"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDeclaration')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateDeclaration.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateDeclaration.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateDeclaration.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="etatcivilApp.naissance.agentDeclarant" for="field_agentDeclarant">Agent Declarant</label>
            <select class="form-control" id="field_agentDeclarant" name="agentDeclarant" ng-model="vm.naissance.agentDeclarant" ng-options="user as user.login for user in vm.users track by user.id" required>
            </select>
        </div>
        <div ng-show="editForm.agentDeclarant.$invalid">
            <p class="help-block"
                ng-show="editForm.agentDeclarant.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="etatcivilApp.naissance.pere" for="field_pere">Pere</label>
            <select class="form-control" id="field_pere" name="pere" ng-model="vm.naissance.pere" ng-options="personne as personne.prenom for personne in vm.personnes track by personne.id" required>
            </select>
        </div>
        <div ng-show="editForm.pere.$invalid">
            <p class="help-block"
                ng-show="editForm.pere.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="etatcivilApp.naissance.mere" for="field_mere">Mere</label>
            <select class="form-control" id="field_mere" name="mere" ng-model="vm.naissance.mere" ng-options="personne as personne.prenom for personne in vm.personnes track by personne.id" required>
            </select>
        </div>
        <div ng-show="editForm.mere.$invalid">
            <p class="help-block"
                ng-show="editForm.mere.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="etatcivilApp.naissance.enfant" for="field_enfant">Enfant</label>
            <select class="form-control" id="field_enfant" name="enfant" ng-model="vm.naissance.enfant" ng-options="personne as personne.prenom for personne in vm.personnes track by personne.id" required>
            </select>
        </div>
        <div ng-show="editForm.enfant.$invalid">
            <p class="help-block"
                ng-show="editForm.enfant.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="etatcivilApp.naissance.lieuDeclaration" for="field_lieuDeclaration">Lieu Declaration</label>
            <select class="form-control" id="field_lieuDeclaration" name="lieuDeclaration" ng-model="vm.naissance.lieuDeclaration" ng-options="ville as ville.nom for ville in vm.villes track by ville.id" required>
            </select>
        </div>
        <div ng-show="editForm.lieuDeclaration.$invalid">
            <p class="help-block"
                ng-show="editForm.lieuDeclaration.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
